 @import url('https://fonts.googleapis.com/css?family=Fira+Sans');

:root {
  --background-color: #ffffff;
  --text-color: #191919;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  font-family: 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex: 0;
  flex-basis: 250px;
}

.sidebar h1 {
  margin: 0;
}

.sidebar .section {
  border-bottom: 1px solid #7b7b7b;
  padding-bottom: 1.5em;
  padding-top: 1em;
}

.sidebar a svg {
  height: 24px;
  width: 24px;
}

.sidebar .icons {
  text-align: center;
  margin-top: auto;
}

.badge {
  text-transform: uppercase;
  color: white;
  background-color: #0366d6;
  padding: 2px 4px;
  border-radius: 2px;
}

.content {
  width: 100%;
  padding: 0 1em;
}

dt {
  font-size: 1.3em;
}

dd {
  margin: 10px 10px 10px 0;
}

.profile_pic {
  border-radius: 50%;
  width: 10em;
  display: block;
}

a {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-skip: ink;
}

@media (max-width: 568px) {
  .container {
    flex-direction: column;
    padding: 1em;
  }

  .sidebar {
    display: block;
    width: 100%;
    text-align: center;
  }

  .sidebar .icons {
    text-align: center;
    padding-top: 1.5em;
  }

  .profile_pic {
    margin: auto;
  }
}
