body {
  background: url('background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  text-align: center:
  clear: both;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
}

footer .links {
  margin-bottom: 0px;
  text-align: center;
  float: right;
}

footer .links li {
  display: inline;
  list-style-type: none;
}
